<mat-toolbar color="primary">
    <span class="title-todo">Todo with Ngxs</span>
    <span class="subpages">
        <span style="margin-right: 16px" [routerLink]="['']">Todos</span>
        <span>Tasks</span>
    </span>
</mat-toolbar>
<ng-container *ngFor="let task of tasks$ | async">
    <div class="todos-container">
        <mat-card class="card-container">
            <mat-card-title class="todo-name" >{{task.name}}</mat-card-title>
            <mat-card-subtitle class="todo-desc" >{{task.description}}</mat-card-subtitle>
        </mat-card>
    </div>
</ng-container>
